<body style='height: 10000px;'>
    <h3>1. 반복문</h3>
    {% for menu in my_list%}
    <p>{{ menu }}</p>
    {% endfor %}
    <hr> 
    {% for menu in my_list %} {{ forloop.counter }}
            <!--번호붙여주는 기능-->
            {% if forloop.first %}
                <p>짜장면 + 고춧가루</p>
            {% else %}
                <p>{{ menu }}</p>
            {% endif %} {% endfor %}
    <hr>
    {% for user in empty_list %}
        <p>{{ user }}</p>
    {% empty %}
        <p>지금 가입한 회원이 없습니다.</p>
    {% endfor %}
    <!--값이 없으면 empty에 있는 값이 출력됨 empty -->
    <hr>
    
    <h3>2. 조건문</h3>
    {% if '짜장면' in my_list %}
        <p>짜장면엔 고춧가루지 !!!! </p>
    {% endif %}
    
    <hr>
    
    <h3>2. length filter 활용</h3>
    {% for message in messages %}
        {% if message|length > 5 %}
            <p>글씨가 너무 길어요.</p>
        {% else %}
            <p>{{ message }}, {{ message|length }}</p>
        {% endif %}
    {% endfor %}
    <hr>
    <h3>4. lorem ipsum</h3>
    {% lorem %}
    <hr>
    {% lorem 3 w %}
    <hr>
    {% lorem 4 w random %}
    <hr>
    {% lorem 2 p %}
    <hr>
    
    <h3>5. 글자수 제한</h3>
    <p>{{ my_sentence|truncatewords:3 }}</p>
    <p>{{ my_sentence|truncatechars:3 }}</p>
    <!--4글자 이상부터 공백이 있어야 공백 ...으로 시작하기 때문에 -->
    <p>{{ my_sentence|truncatechars:6 }}</p>
    <hr>
    
    <h3>6. 글자 관련 filter</h3>
    <p>{{ 'abc' |length }}</p>
    <p>{{ 'ABC' |lower }}</p>
    <p>{{ my_sentence|title }}</p>
    <p>{{ 'abc def'|capfirst }}</p>
    <p>{{ my_list|random }}</p>
    
    <h3>7. 연산</h3>
    <p>{{ 4|add:6 }}</p>
    <hr>
    
    <h3>8. 날짜표현</h3>
    {% now "DATETIME_FORMAT" %}<br>
    {% now "SHORT_DATETIME_FORMAT" %}<br>
    {% now "DATE_FORMAT" %}<br>
    {% now "SHORT_DATE_FORMAT" %}<br>
    <hr>
    
    {% now "Y년 m월 d일 (D) h:i" %}
    <hr>
    {% now "Y" as current_year %}
    copyright {{ current_year }}
    <hr>
    {{ datetimenow }}<br>
    {{ datetimenow|date:"SHORT_DATE_FORMAT" }}
    <hr>
    <h3>9. 기타</h3>
    {{ 'google.com'|urlize }}
    <!--넘어가는 링크가 됨-->
    

    
 
        
</body>
